<section id="user-page">
  <div class="title-page row row-space">
    <h1><i class="fal fa-boxes"></i> Produtoss</h1>
    <button class="add" routerLink="/produtos/add">
      <i class="fad fa-plus-hexagon"></i> Adicionar Produtos
    </button>
  </div>
  <div id="ultimos-pedidos" class="box-dash">
    <span class="box-table">
      <table>
        <thead>
          <tr>
            <th>Cod. Produto</th>
            <th>Nome</th>
            <th>Valor</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produtos of produtos$ |	async">
            <td>{{produtos.id}}</td>
            <td>{{produtos.nome}}</td>
            <td>{{produtos.valor | currency:'R$: ':'symbol':'2.2-2'}}</td>
            <td>
              <button class="invisivel" routerLink="/produtos/{{produtos.id}}" >Editar</button>
              <button class="delete invisivel" (click)="deletar(produtos.id)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </span>
  </div>
</section>
