<section id="interface">
  <nav>
    <h1><img src="/assets/svg/logo-negative.svg" alt="Controle de Estoque" /></h1>
    <span id="avatar">
      <img src="/assets/img/avatar.jpg" alt="Avatar" />
      <p id="name-user">Vitor Zortéa</p>
      <p id="name-email">vitorzortea@gmail.com</p>
    </span>
    <ul>
      <li><a href="#"><i class="fal fa-tachometer-alt-fast"></i> Painel de Controle</a></li>
      <li><a href="#"><i class="fal fa-users"></i> Meus Clientes</a></li>
      <li><a href="#"><i class="fal fa-box"></i> Todos os Produtos</a></li>
      <li><a href="#"><i class="fal fa-cash-register"></i> Pedidos de Vendas</a></li>
    </ul>
  </nav>
  <div>
    <header>
      <i class="fas fa-bars"></i>
      <buton (click)="logout()">
        <i class="far fa-user-circle"></i>
        Sair da Conta
      </buton>
    </header>
    <main>
      <router-outlet></router-outlet>
    </main>
  </div>
</section>
