#interface
  background-color: #f1ece9
  width: 100%
  min-height: 100vh
  position: relative

  nav
    position: absolute
    top: 0
    left 0
    min-height: 100%
    width: 250px
    background-color: #9e8a77
    color: #f1ece9
    border-left: solid 5px #4c301b
    box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2)

    h1
      width: 170px
      display: table
      margin: 20px auto

    #avatar
      margin: 0 auto 30px
      display: table
      text-align: center

      img
        width 120px
        border: solid 3px white
        border-radius: 50%

      #name-user
        font-weight: bold
        font-size: 1.2em

      #name-email
        font-size: .8em

    ul>li>a
      display: table
      padding: 10px
      margin-left: -5px
      width: calc(100% + 5px)
      border-left: transparent 5px solid

      &:hover:not(.active)
        background-color: rgba(111, 73, 44, .5);
        border-color: #9b4d12
        color: #fbf9f8
        i
          color: #fbf9f8
      &.active
        background-color: #6f492c
        color: #fbf9f8
        border-color: #fbf9f8
        i
          color: #fbf9f8
          font-weight: bold

      &>i
        width: 1.5em
        text-align: center
        color: #4c301b
        font-size: 1.4em
        vertical-align: middle

  &>div
    flex: auto
    min-height: 100vh
    width: calc(100% - 250px)
    margin: 0 0 0 auto
    position relative
    z-index 2
    background: #f1ece9
    transition: .5s width

    header
      width: 100%
      padding: 10px
      background: white
      box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.2)
      margin-bottom: 10px
      display: flex
      justify-content: space-between

    main
      padding: 10px

  &.hide-menu>div
    width: 100%
