<section id="auth">
  <main>
    <span>
      <h1><img src="/assets/svg/logo.svg" alt="Controle de Estoque" /></h1>
      <router-outlet></router-outlet>
    </span>
    <footer>
      <p>Desenvolvido por <a href="http://vitorzortea.sitepessoal.com/" target="_blank">Vitor Zortéa</a></p>
      <div>
        <a href="https://github.com/vitorzortea" target="_blank"><i class="fab fa-github-square"></i></a>
        <a href="https://www.linkedin.com/in/vitorzortea/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://api.whatsapp.com/send?phone=5563984850350" target="_blank"><i class="fab fa-whatsapp-square"></i></a>
        <a href="mailto: vitorzortea@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a>
      </div>
    </footer>
  </main>
  <div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90.87 1080" preserveAspectRatio="none">
      <polyline points="13.11,1080 0,1080 0,0 90.87,0 "/>
    </svg>
    <span>
      <img src="/assets/img/img-auth.png" alt="Autenticação" />
      <img src="/assets/img/lock-auth.png" alt="Autenticação" />
    </span>
  </div>
</section>
