<section id="user-page">
  <div class="title-page row row-space">
    <h1><i class="fal fa-user-friends"></i> Clientes</h1>
    <button class="add" routerLink="/clientes/add">
      <i class="fad fa-plus-hexagon"></i> Adicionar cliente
    </button>
  </div>
  <div id="ultimos-pedidos" class="box-dash">
    <span class="box-table">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>E-mail</th>
            <th>Nascimento</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let cliente of clientes$ | async">
            <td>{{cliente.nome}}</td>
            <td>{{cliente.cpf}}</td>
            <td>{{cliente.bairro}}, {{cliente.logadouro}}, {{cliente.numero}}, {{cliente.complemento}} | {{cliente.cidade}}, {{cliente.estado}} ({{cliente.cep}})</td>
            <td>{{cliente.email}}</td>
            <td>{{cliente.nacimento | date:'dd/LL/yyyy'}}</td>
            <td>
              <button class="invisivel" routerLink="/clientes/{{cliente.id}}" >Editar</button>
              <button class="delete invisivel" (click)="deletar(cliente.id)">Deletar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </span>
  </div>
</section>
